@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', sans-serif;
}

input,
textarea,
select,
button {
  max-width: 100%;
}

.leaflet-container {
  z-index: 0;
  height: 100%;
  width: 100%;
}
